* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.header_main {
    display: flex;
    flex-direction: row;
}


header {
    width: 110px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.limit_title {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 6px 0 gray;
}

/* MAY BE DELETE */
.limit_title:hover {
    background-color: rgb(31, 31, 31);
    width: 120px;
}
#site_title {
    width: 100px;
    font-size: 30px;
    color: whitesmoke;
    margin: 5px;
}
.header_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: whitesmoke;
}
header button {
    width: 100%;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    padding: 5px;
    transition: all 0.2s;
}
header button:hover {
    background-color: rgb(31, 31, 31);
    padding-left: 10px;
    width: 120px;
    box-shadow: 2px 2px 6px 0 gray;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(207, 205, 168);
}
.container_clocks {
    height: 50%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.container_timer {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 6px 0 gray;
}
.container_timer h3 {
    margin-top: 10px;
}
.timer {
    font-size: 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 80%;
}
.container_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_buttons button {
    align-items: center;
    justify-content: center;
    font-size: 100%;
    height: 50px;
    width: 110px;
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 6px 0 gray;
    transition: all 0.2s;
}
.container_buttons button:hover {
    background-color: rgb(66, 66, 66);
}
.container_buttons button:active {
    background-color: rgb(41, 41, 41);
}


footer {
    color: whitesmoke;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}





@media (max-width: 800px) {
    .header_main {
        flex-direction: column;
    }
    header {
        align-items: flex-start;
        width: 100%;
        font-size: 0.7em;
        flex-direction: row;
    }
    .limit_title {
        align-items: flex-end;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 20px;
        margin-right: 40px;
        transition: all 0.2s;
    }
    .limit_title:hover {
        height: 131px;
        width: 110px;
    }
    .header_buttons {
        flex-direction: row;
        align-items: flex-start;
    }
    .header_buttons h3, .header_buttons button {
        /* height: 100%; */
        padding: 10px;
        margin: 0;
    }
    .header_buttons button {
        width: auto;
    }
    .header_buttons button:hover {
        padding-top: 15px;
        width: auto;
    }
    .container_clocks {
        margin-top: 100px;
        height: 45%;
        width: 90%;
    }
    .timer {
        font-size: 360%;
    }
}



@media (max-width: 600px) {
    /* REQUIRE: CREATE A COLLAPSIBLE MODES MENU */
    /* REQUIRE: IF WIDTH <= HEIGHT {CHANGE .container_clocks FLEX-DIRECTION TO COLUMN} */

    .header_main {
        flex-direction: column;
    }
    header {
        width: 100%;
        font-size: 0.7em;
    }
    .limit_title {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 20px;
        margin-right: 40px;
    }
    .header_buttons {
        max-width: 100%;
        flex-direction: row;
    }
    .header_buttons h3, .header_buttons button {
        height: 100%;
        padding: 10px;
        margin: 0;
    }
    .container_clocks {
        flex-direction: column;
        margin-top: 100px;
        height: 60%;
        width: 90%;
    }
    .timer {
        font-size: 340%;
    }
}